@import 'footer';
//
// Scaffolding
// --------------------------------------------------
//
// Use this to add CSS rules according to the most generic html elements like
// `html`, `body` etc. and to override the content of
// node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding.scss
// Fix viewport issues with IE 10.
// See http://getbootstrap.com/getting-started/#support-ie10-width
html {
  // Get properties related to sticky footer. See _footer.scss
  @include footer-htmlProps();
}

body {
  overflow-y: scroll; // Optimize legibility on Retina displays
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; // Get properties related to sticky footer. See _footer.scss
  @include footer-bodyProps();
  background-image: radial-gradient(transparent, #00000088),
    url(../img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  a:hover {
    text-decoration: none;
  }
}
