.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .logo-container .title {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 6rem; }
    .logo-container .title a {
      text-decoration: none; }
