body {
  overflow-y: scroll;
  /* Optimize legibility on Retina displays */
  background-image: radial-gradient(transparent, #00000088), url(./assets/img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}